@forward './font';
@forward './mixins';
@use './font' as f;
@use './mixins' as m;



*{margin:0; padding:0; list-style:none; box-sizing: border-box;
    color: black;}
a{text-decoration:none;}

.block {
    display: block !important;
    transition: 5s all ease-in-out;
}

.none {
    display:none!important;
}

