@use './_globals.scss' as g;
@use './_header.scss';

.page_container{
    display: flex;
    .left_side{

        .landing{
            @include g.bgimg;
            background-image: url("/resources/img/reg_cont.png");
            height: calc(100vh - 84px);

            &_txt {
                padding: 211px 0 0 132px;
                h1{
                    font-family: 'Nunito';
                    font-style: italic;
                    font-weight: 800;
                    font-size: 26px;
                    line-height: 35px;
                    text-transform: uppercase;
                }
                p{
                    padding-top: 24px;
                    font-family: 'Nunito';
                    font-style: italic;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 33px;
                    /* identical to box height */

                    text-transform: uppercase;

                    color: #E5E6E8;
                }
            }
        }
    }

    .right_side{
        header{
            width: 997px;
            border: 1px solid rgba(185, 180, 196, 0.3);
            display: flex;
            align-items: center;
            background-color: white;
            p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                /* identical to box height, or 24px */

                text-transform: capitalize;
                padding-left: 48px;
            }
        }
        
        .reg_container{
            @include g.flexc($align:flex-start, $justify:space-around);
            margin-left: 48px;
            width: 775px;
            height: calc(100vh - 84px);
            position: relative;

            #error{
                // display: none;
                position: absolute;
                width: 350px;
                height: 87px;
                top: 150px;
                right: -130px;
                box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                td{
                    vertical-align: middle;
                    line-height: 20px;
                    text-indent: 10px;
                }
                #error_type{
                    
                    border-bottom: 1px solid rgba(185, 180, 196, 0.3);
                    display: flex;
                    align-items: center;
                    padding: 10px;


                #error_exp{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 21px;
                    color: red;
                }

                }

                #error_solve{

                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                }
            }
            .navigation{
                display: flex;
                justify-content: space-between;
                width: 366px;
                position: relative;

                .line {
                    position: absolute;
                    width: 47%;
                    height: 50%;
                    border-bottom: 1px solid rgba(185, 180, 196, 0.3);
                    top: 4%;
                    left: 52%;
                    transform: translate(-50%,-50%)

                }
                .nav_box{

                    @include g.flexc;
                    
                    
                    .nav_anc{
                        display: block;
                        width: 40px;
                        height: 40px;
                        border: 1px solid #E5E6E8;
                        border-radius: 8px;
                        margin-bottom: 8px;
                        background-color: white;
                        z-index: 100;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 40px;
                        text-align: center;
                        
                    }

                    .anc_bg{
                        background-image: url(/resources/svg/success.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-color: #E9FAF1;
                        color: #E9FAF1;
                    }
                    .nav_par {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                    }
                }

                #experience_anc {

                    background-color: #F5F5F5;
                    color: #95939A;

                }
            }


            .reg_title{
                height: auto;
                h1{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 150%;
                }
                p{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 150%;
                    text-transform: capitalize;
                    color: #95939A;
                }

            }

            .reg_form{
                width: 100%;

                .success {

                    &::after {
                        content: url('/resources/svg/check.svg');
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                    }
                }

                .form_control{
                    margin-bottom: 30px;
                    position: relative;

                    .error {

                        background-color: #FFEFEF;
                        color: #DC3545;
                    }
                    input{
                        all:unset;
                        height: 40px;
                        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
                        border-bottom:1px solid rgba(185, 180, 196, 0.3); ;
                        outline: none;
                        width: 100%;
                        background-color: white;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        text-indent: 10px;

                        &:active{
                            background-color: #E9ECEF;
                        }
                        &:focus{
                            background-color: #E9ECEF;
                        }
                        
                        &:hover ~ label,input {
                            
                            opacity: 0.5;
                        }
                    }

    
                        input:focus ~ label,
                        input:not(:placeholder-shown) ~ label {
                        z-index: -1;
                        }

                    label{
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        visibility: visible;


                    }
                    label::after{
                        content: "*";
                        color: red;
                    }
                    
                    
                    }

                    .error{
                        color: #DC3545;
                    }



                }

                .buttons{
                    width: 100%;
                    margin-top: 88px;
                    display: flex;
                    justify-content: space-between;

                    a, button {              
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #ffffff;
                        border-radius: 8px;
                        border: #212529 solid 1px;
                        width: 191px;
                        height: 53px;
                        text-align: center ;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 27px;
                        text-transform: capitalize;

                    }
                    #next{
                        background-color: #212529;
                        color: #fff;

                        img{
                            height: 20px;
                            padding-left: 15px;
                            
                        }

                        &:hover{
                            border: 4px solid rgba(194, 165, 249, 0.8);
                            box-sizing: border-box;
                        }
                    }

            }
        }
    }
}

